*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: normal;
    color: #000;
    text-align: left;
    background-color: #fff;
}

/* Common Styles */

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 36px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

h5 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    color: #4D4D4D;
    padding: 9px 17px;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

.btn {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-sm {
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px;
}

.btn-lg {
    font-size: 36px;
    padding: 15px 30px;
}

.btn-primary {
    background-color: #fff;
}

.btn-secondary {
    background-color: #000;
    color: #fff;
}

.site-container {
    position: relative;
    z-index: 1;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* Swiper JS Overrides */

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #fff;
}

.swiper-button-prev {
    left: 25px;
}

.swiper-button-next {
    right: 25px;
}

/* Header */

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.container-menu li {
    padding: 9px 15px;
}

.container-menu a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.container-menu a.active {
    font-weight: 600;
}

.container-navigation .nav {
    gap: 20px;
}

.container-navigation .icon {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container-navigation .icon-account {
    background-image: url(../images/icons/icon-user.png);
}

.container-navigation .icon-cart {
    background-image: url(../images/icons/icon-shopping-bag.png);
}

.container-navigation .icon-favorite {
    background-image: url(../images/icons/icon-heart.png);
}

.container-navigation .icon-support {
    background-image: url(../images/icons/icon-support.png);
}

.container-navigation .icon-search {
    background-image: url(../images/icons/icon-search.png);
}

.lang-currency--selected {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 35px;
    border: 1px solid #F2F2F2;
    padding: 6px 12px 6px 5px;
}

.lang-currency--selected::after {
    content: '';
    width: 10px;
    height: 10px;
    background: url(../images/icons/icon-chevron-down-black.png);
}

.lang-currency--selected img {
    width: 25px;
    height: 25px;
}

.lang-currency--selected span {
    margin-left: 3px;
    margin-right: 10px;
}

/* Benefits section */

.container-benefits {
    background-color: #F2F2F2;
    padding: 10px 39px;
    font-size: 12px;
}

.container-benefits .nav {
    justify-content: space-between;
}

.container-benefits .nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Slider */

.slide-image {
    position: relative;
    min-height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-image-1,
.slide-image-2 {
    background-image: url(../images/slider/slider-1.jpg);
}

.slide-text-container {
    position: absolute;
    bottom: 73px;
    right: 268px;
}

/* Deals section */
.container-deals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 68px;
}

.container-deals .deal {
    min-width: 160px;
    text-align: center;
    text-transform: uppercase;
}

.container-deals .discount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
}

.container-deals .amount {
    font-size: 32px;
    font-weight: 600;
    min-width: 69px;
}

.container-deals .label {
    font-size: 10px;
}

/* VIP Exclusive section */

.container-vip-exclusive {
    display: flex;
    align-items: center;
    gap: 48px;
    color: #fff;
    padding: 15px 118px 16px;
    background-image: url(../images/lights-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-vip-exclusive h3 {
    margin: 0;
}

.container-vip-exclusive p {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    max-width: 354px;
}

.container-vip-exclusive .button-container {
    margin-left: auto;
    margin-right: 54px;
}

/* Trending section */

.container-trending {
    padding: 40px 190px 62px 190px;
}

.container-trending .list-category {
    display: flex;
    flex-wrap: wrap;
}

.container-trending .category {
    width: 25%;
    padding: 20px;
}

.container-trending .category-title {
    display: block;
    width: 100%;
    color: #000;
    font-size: 23.5px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 5px;
}

.container-trending .hashtags-container,
.container-trending .hashtags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-trending .hashtags {
    gap: 25px;
}

.container-trending .hashtags span {
    display: block;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #000;
}

/* New Arrivals section */

.container-new-arrivals {
    display: flex;
    justify-content: end;
    background-image: url(../images/new-arrivals.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-new-arrivals .text-container {
    width: 100%;
    max-width: 500px;
    color: #fff;
    margin: 47px 120px 41px 0;
}

.container-new-arrivals h3 {
    font-size: 86px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 21px;
    text-align: left;
}

.container-new-arrivals p {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 43px;
}

/* Recent Products section */

.container-recent-products {
    padding: 40px 40px 51px 40px;
}

.container-recent-products .list-products {
    display: flex;
    flex-wrap: wrap;
}

.container-recent-products .product {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
}

.container-recent-products .product-image,
.container-recent-products .product-info {
    height: 100%;
}

.container-recent-products .product-image img {
    display: block;
    width: 100%;
}

.container-recent-products .product-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 6px;
    margin-bottom: 12px;
}

.container-recent-products .product-title {
    display: block;
    width: 100%;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    flex: 1 1 auto;
}

.container-recent-products .product-price {
    font-weight: 600;
    margin-top: 10px;
}

.container-recent-products .sale-price {
    color: #C1272D;
    font-weight: 800;
    margin-right: 20px;
}

.container-recent-products button {
    width: 100%;
}

/* Posts section */

.container-posts {
    padding: 40px 60px 60px 60px;
    background-color: #F2F2F2;
}

.container-posts .list-posts {
    display: flex;
    flex-wrap: wrap;
    margin: 31px 0 11px 0;
}

.container-posts .post {
    width: 20%;
    padding: 20px;
}

.container-posts .button-container {
    text-align: center;
}

/* Newsletter section */

.container-newsletter {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 20px 118px;
}

.container-newsletter h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    text-align: left;
}

.container-newsletter .input-group {
    display: flex;
    width: 354px;
    height: 35px;
}

.container-newsletter input {
    width: 100%;
    background-color: #F2F2F2;
}

.container-newsletter .input-group-append {
    background-color: #fff;
    background-image: url(../images/icons/icon-chevron-right-black.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
}

.container-newsletter img {
    width: 20px;
    height: 20px;
}

/* Footer */

.container-footer {
    display: flex;
    padding: 40px 40px 0 40px;
}

.container-footer .links {
    padding-right: 20px;
}

.container-footer .links--follow-us {
    margin-left: 112px;
}

.container-footer h5 {
    text-align: left;
    padding: 10px;
    margin-bottom: 0;
}

.container-footer ul {
    list-style: none;
}

.container-footer li {
    padding: 10px;
}

.container-footer a {
    font-size: 12px;
    text-transform: capitalize;
}

.container-footer .nav {
    gap: 10px;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container-footer .links--follow-us li {
    padding: 0;
}

.container-subfooter {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 70px 70px 50px;
}

/* Cart popup */

.cart-popup-container {
    position: relative;
}

.cart-popup {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cart-popup.show {
    display: block;
}

.cart-popup p {
    text-align: center;
}

.cart-popup .product {
    display: flex;
    gap: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.cart-popup .product-image {
    width: 30%;
}

.cart-popup .product-info {
    width: 70%;
}

.cart-popup .product-title {
    font-weight: 600;
    margin-bottom: 6px;
}

.cart-popup .product-subtotal {
    margin-top: 6px;
}

.cart-popup .totals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 600;
}

.cart-popup .btn {
    width: 100%;
    text-align: center;
}

/* Cart page */

.container-cart {
    padding: 20px;
}

.container-cart h1 {
    text-align: left;
}

.container-cart .list-products--label,
.container-cart .totals {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
}

.container-cart .list-products--label {
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.container-cart .col-image,
.container-cart .col-item,
.container-cart .col-quantity,
.container-cart .col-price,
.container-cart .col-subtotal {
    padding: 0 10px;
}

.container-cart .col-image {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.container-cart .col-quantity,
.container-cart .col-price,
.container-cart .col-subtotal {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.container-cart .col-item {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.container-cart .product {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.container-cart .product .btn-remove {
    margin-top: 10px;
}

.container-cart .totals {
    margin: 10px 0;
}

.container-cart .totals .label,
.container-cart .totals .amount {
    padding: 0 10px;
}

.container-cart .totals .label {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.container-cart .totals .amount {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}